body{
  margin: 0;
}

main{
margin-left: 5px;
}

/* intestazione del sito */
header{
  height: 100px;
  margin: 0 auto;
  background-color: rgb(78, 160, 255);
  background-image: url("../img/pattern.png");
  background-attachment: fixed;
  background-size: 25%;
}

#logo{
  width: 200px;
  position: absolute;
  top: 25px;
}
/* /intestazione del sito */

/* colore crediti */
.info{
  color: rgb(128, 128, 128);
}

#writer-id{
  color: rgb(32, 169, 229);
}

.date{
  font-size: 80%;
}
/* /colore crediti */

.photo-credits{
  font-size: 75%;
}

.highlighted-text{
  background-color: rgb(255, 255, 0);
}

#list{
  padding-left: 1%;
}